<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aspi.docmanage.mapper.DocBorrowApproveMapper">
    
    <resultMap type="DocBorrowApprove" id="DocBorrowApproveResult">
        <result property="id"    column="id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="borrowId"    column="borrow_id"    />
        <result property="approveUserId"    column="approve_user_id"    />
        <result property="approvalResult"    column="approval_result"    />
        <result property="approvalSuggest"    column="approval_suggest"    />
        <result property="approvalTime"    column="approval_time"    />

    <association property="borrowIdMap" column="borrow_id"
         select="refSelectDocBorrowApproveList30"
         javaType="com.aspi.docmanage.domain.DocBorrowApprove"/>
    <association property="approveUserIdMap" column="approve_user_id"
         select="refSelectSysUserList31"
         javaType="com.oaspi.common.core.domain.entity.SysUser"/>
  <association property="bizCreateBy" column="create_by"
                      select="com.oaspi.system.mapper.SysUserMapper.selectUserByUserName"
                      javaType="com.oaspi.common.core.domain.entity.SysUser"/>
  <association property="bizUpdateBy" column="update_by"
                      select="com.oaspi.system.mapper.SysUserMapper.selectUserByUserName"
                      javaType="com.oaspi.common.core.domain.entity.SysUser"/>











    </resultMap>

<sql id="refSelectDocBorrowApproveVo30">
    select id, del_flag, create_by, create_time, update_by, update_time, borrow_id, approve_user_id, approval_result, approval_suggest, approval_time from doc_borrow_approve
</sql>
 <resultMap type="DocBorrowApprove" id="DocBorrowApproveResult30">
        <result property="id"    column="id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="borrowId"    column="borrow_id"    />
        <result property="approveUserId"    column="approve_user_id"    />
        <result property="approvalResult"    column="approval_result"    />
        <result property="approvalSuggest"    column="approval_suggest"    />
        <result property="approvalTime"    column="approval_time"    />
</resultMap>
<select id="refSelectDocBorrowApproveList30" parameterType="DocBorrowApprove"
 resultMap="DocBorrowApproveResult30">
        <include refid="refSelectDocBorrowApproveVo30"/>
        <where>
        id = #{borrow_id}
        </where>
Limit 1
 </select>
<sql id="refSelectSysUserVo31">
    select user_id, dept_id, user_name, nick_name, user_type, email, phonenumber, sex, avatar, password, status, del_flag, login_ip, login_date, create_by, create_time, update_by, update_time, remark from sys_user
</sql>
 <resultMap type="SysUser" id="SysUserResult31">
        <result property="userId"    column="user_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="userName"    column="user_name"    />
        <result property="nickName"    column="nick_name"    />
        <result property="userType"    column="user_type"    />
        <result property="email"    column="email"    />
        <result property="phonenumber"    column="phonenumber"    />
        <result property="sex"    column="sex"    />
        <result property="avatar"    column="avatar"    />
        <result property="password"    column="password"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="loginIp"    column="login_ip"    />
        <result property="loginDate"    column="login_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
</resultMap>
<select id="refSelectSysUserList31" parameterType="SysUser"
 resultMap="SysUserResult31">
        <include refid="refSelectSysUserVo31"/>
        <where>
        user_id = #{approve_user_id}
        </where>
Limit 1
 </select>
    <sql id="selectDocBorrowApproveVo">
        select id, del_flag, create_by, create_time, update_by, update_time, borrow_id, approve_user_id, approval_result, approval_suggest, approval_time from doc_borrow_approve
    </sql>
    <select id="selectDocBorrowApproveList" parameterType="DocBorrowApprove" resultMap="DocBorrowApproveResult">
        <include refid="selectDocBorrowApproveVo"/>
        <where>  
            <if test="borrowId != null "> and borrow_id = #{borrowId}</if>
            <if test="approveUserId != null "> and approve_user_id = #{approveUserId}</if>
            <if test="approvalResult != null "> and approval_result = #{approvalResult}</if>
            <if test="approvalSuggest != null  and approvalSuggest != ''"> and approval_suggest = #{approvalSuggest}</if>
            <if test="approvalTime != null "> and approval_time = #{approvalTime}</if>
        </where>
    </select>
    <select id="selectDocBorrowApproveById" parameterType="Long" resultMap="DocBorrowApproveResult">
        <include refid="selectDocBorrowApproveVo"/>
        where id = #{id}
    </select>

    <insert id="insertDocBorrowApprove" parameterType="DocBorrowApprove" useGeneratedKeys="true" keyProperty="id">
        insert into doc_borrow_approve
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="borrowId != null">borrow_id,</if>
            <if test="approveUserId != null">approve_user_id,</if>
            <if test="approvalResult != null">approval_result,</if>
            <if test="approvalSuggest != null">approval_suggest,</if>
            <if test="approvalTime != null">approval_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="borrowId != null">#{borrowId},</if>
            <if test="approveUserId != null">#{approveUserId},</if>
            <if test="approvalResult != null">#{approvalResult},</if>
            <if test="approvalSuggest != null">#{approvalSuggest},</if>
            <if test="approvalTime != null">#{approvalTime},</if>
         </trim>
    </insert>

    <update id="updateDocBorrowApprove" parameterType="DocBorrowApprove">
        update doc_borrow_approve
        <trim prefix="SET" suffixOverrides=",">
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="borrowId != null">borrow_id = #{borrowId},</if>
            <if test="approveUserId != null">approve_user_id = #{approveUserId},</if>
            <if test="approvalResult != null">approval_result = #{approvalResult},</if>
            <if test="approvalSuggest != null">approval_suggest = #{approvalSuggest},</if>
            <if test="approvalTime != null">approval_time = #{approvalTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDocBorrowApproveById" parameterType="Long">
        delete from doc_borrow_approve where id = #{id}
    </delete>

    <delete id="deleteDocBorrowApproveByIds" parameterType="String">
        delete from doc_borrow_approve where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>