<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oaspi.system.mapper.DocCompanyMapper">

    <resultMap type="DocCompany" id="DocCompanyResult">
        <result property="companyId"    column="company_id"    />
        <result property="parentId"    column="parent_id"    />
        <result property="companyName"    column="company_name"    />
        <result property="orgCode"    column="org_code"    />
        <result property="tel"    column="tel"    />
        <result property="companyLinker"    column="company_linker"    />
        <result property="handleAuthor"    column="handle_author"    />
        <result property="handleTime"    column="handle_time"    />
        <result property="isTopLevel"    column="is_top_level"    />
        <result property="status"    column="status"    />
        <result property="description"    column="description"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectDocCompanyVo">
        select company_id, parent_id, company_name, org_code, tel, company_linker, handle_author, handle_time,
               is_top_level, status, description, del_flag from doc_company
    </sql>

    <select id="selectDocCompanyList" parameterType="DocCompany" resultMap="DocCompanyResult">
        <include refid="selectDocCompanyVo"/>
        <where>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="companyName != null  and companyName != ''"> and company_name like concat('%', #{companyName}, '%')</if>
            <if test="orgCode != null  and orgCode != ''"> and org_code = #{orgCode}</if>
            <if test="tel != null  and tel != ''"> and tel = #{tel}</if>
            <if test="companyLinker != null  and companyLinker != ''"> and company_linker = #{companyLinker}</if>
            <if test="handleAuthor != null  and handleAuthor != ''"> and handle_author = #{handleAuthor}</if>
            <if test="handleTime != null "> and handle_time = #{handleTime}</if>
            <if test="isTopLevel != null "> and is_top_level = #{isTopLevel}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
        </where>
    </select>

    <select id="selectDocCompanyByCompanyId" parameterType="Long" resultMap="DocCompanyResult">
        <include refid="selectDocCompanyVo"/>
        where company_id = #{companyId}
    </select>

    <select id="getAllCompanies"  parameterType="DocCompany" resultMap="DocCompanyResult">
        <include refid="selectDocCompanyVo"/>
        where del_flag = 0
    </select>
    <select id="docInfoCount" resultType="java.lang.Integer">
        select count(*) from doc_info where del_flag = 0 and dept_id = #{companyId}
    </select>
    <select id="selectDocCompanyByCompanyName" parameterType="DocCompany" resultMap="DocCompanyResult">
        <include refid="selectDocCompanyVo"/>
        where company_name = #{companyName} and del_flag = 0
    </select>

    <insert id="insertDocCompany" parameterType="DocCompany" useGeneratedKeys="true" keyProperty="companyId">
        insert into doc_company
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">parent_id,</if>
            <if test="companyName != null">company_name,</if>
            <if test="orgCode != null">org_code,</if>
            <if test="tel != null">tel,</if>
            <if test="companyLinker != null">company_linker,</if>
            <if test="handleAuthor != null">handle_author,</if>
            <if test="handleTime != null">handle_time,</if>
            <if test="isTopLevel != null">is_top_level,</if>
            <if test="status != null">status,</if>
            <if test="description != null">description,</if>
            <if test="delFlag != null">del_flag,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="companyName != null">#{companyName},</if>
            <if test="orgCode != null">#{orgCode},</if>
            <if test="tel != null">#{tel},</if>
            <if test="companyLinker != null">#{companyLinker},</if>
            <if test="handleAuthor != null">#{handleAuthor},</if>
            <if test="handleTime != null">#{handleTime},</if>
            <if test="isTopLevel != null">#{isTopLevel},</if>
            <if test="status != null">#{status},</if>
            <if test="description != null">#{description},</if>
            <if test="delFlag != null">#{delFlag},</if>
        </trim>
    </insert>

    <update id="updateDocCompany" parameterType="DocCompany">
        update doc_company
        <trim prefix="SET" suffixOverrides=",">
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="companyName != null">company_name = #{companyName},</if>
            <if test="orgCode != null">org_code = #{orgCode},</if>
            <if test="tel != null">tel = #{tel},</if>
            <if test="companyLinker != null">company_linker = #{companyLinker},</if>
            <if test="handleAuthor != null">handle_author = #{handleAuthor},</if>
            <if test="handleTime != null">handle_time = #{handleTime},</if>
            <if test="isTopLevel != null">is_top_level = #{isTopLevel},</if>
            <if test="status != null">status = #{status},</if>
            <if test="description != null">description = #{description},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where company_id = #{companyId}
    </update>
    <update id="editStatus">
        update doc_company set status = #{status} where company_id = #{companyId}
    </update>

    <update id="deleteDocCompanyByCompanyId" parameterType="Long">
        update doc_company set del_flag = 1 where company_id = #{companyId}
    </update>

    <delete id="deleteDocCompanyByCompanyIds" parameterType="String">
        delete from doc_company where company_id in
        <foreach item="companyId" collection="array" open="(" separator="," close=")">
            #{companyId}
        </foreach>
    </delete>
</mapper>