<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aspi.docmanage.mapper.DocEquipmentMapper">
    
    <resultMap type="DocEquipment" id="DocEquipmentResult">
        <result property="id"    column="id"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="equipmentName"    column="equipment_name"    />
        <result property="num"    column="num"    />
        <result property="remark"    column="remark"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="coffersNo"    column="coffers_no"    />

  <association property="bizCreateBy" column="create_by"
                      select="com.oaspi.system.mapper.SysUserMapper.selectUserByUserName"
                      javaType="com.oaspi.common.core.domain.entity.SysUser"/>
  <association property="bizUpdateBy" column="update_by"
                      select="com.oaspi.system.mapper.SysUserMapper.selectUserByUserName"
                      javaType="com.oaspi.common.core.domain.entity.SysUser"/>









    </resultMap>

    <sql id="selectDocEquipmentVo">
        select id, create_time, create_by, equipment_name, num, remark, update_time, update_by, del_flag from doc_equipment
    </sql>
    <select id="selectDocEquipmentList" parameterType="DocEquipment" resultMap="DocEquipmentResult">
        <include refid="selectDocEquipmentVo"/>
        <where>
            <if test="coffersNo != null  and coffersNo != ''"> and coffers_no = #{coffersNo}</if>
            <if test="equipmentName != null  and equipmentName != ''"> and equipment_name like concat('%', #{equipmentName}, '%')</if>
            <if test="num != null "> and num = #{num}</if>
            <if test="startDate != null  and startDate != ''"> and create_time &gt;= #{startDate}</if>
            <if test="endDate != null  and endDate != ''"> and create_time &lt;= #{endDate}</if>
        </where>
    </select>
    <select id="selectDocEquipmentById" parameterType="Long" resultMap="DocEquipmentResult">
        <include refid="selectDocEquipmentVo"/>
        where id = #{id}
    </select>

    <insert id="insertDocEquipment" parameterType="DocEquipment" useGeneratedKeys="true" keyProperty="id">
        insert into doc_equipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="coffersNo != null">coffers_no,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="equipmentName != null">equipment_name,</if>
            <if test="num != null">num,</if>
            <if test="remark != null">remark,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="coffersNo != null">#{coffersNo},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="equipmentName != null">#{equipmentName},</if>
            <if test="num != null">#{num},</if>
            <if test="remark != null">#{remark},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateDocEquipment" parameterType="DocEquipment">
        update doc_equipment
        <trim prefix="SET" suffixOverrides=",">
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="equipmentName != null">equipment_name = #{equipmentName},</if>
            <if test="num != null">num = #{num},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDocEquipmentById" parameterType="Long">
        delete from doc_equipment where id = #{id}
    </delete>

    <delete id="deleteDocEquipmentByIds" parameterType="String">
        delete from doc_equipment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>